html, body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.jumbotron {
    height: 200px;
}


.white {
    color: #fff;
}

.black {
    color: #000;
}

a {
    margin: 5px;
}

.temp {
    font-size: 2em;
}

@media (max-width: 400px) {
    .jumbotron {
        height: 350px;
    }

}
