html, body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.white {
    color: #fff;
}

.black {
    color: #000;
}

a {
    margin: 5px;
}

.highlight {
    color: #71a8b9;
}

.jumbotron {
  height: 500px;
}

.location {
  padding-bottom: 20px;
}

.temp {
    font-size: 2em;
}

.wi {
  font-size: 6em;
}
