html, body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.jumbotron {
  background-image: url(https://source.unsplash.com/category/nature/600x300);
  background-position: 70% 0;
  height: 250px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.white {
    color: #fff;
}

.black {
    color: #000;
}

a {
    margin: 5px;
}

@media (max-width: 400px) {
    .jumbotron {
        height: 350px;
    }

}
